<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"></div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The new address revolution.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://mapta.gs" target="_blank">Create a Maptag</a>
			</p>
		</div>
	</div>
<div>
</div>
<div>
	<map zoom="11" center="[40.74, -74.18]" >
	  <marker position="[40.74, -74.18]" title="Hello Marker" animation="Animation.BOUNCE" draggable="true" visible="true"></marker>
<div><info-window position="current-location" visible="true">
          <span>You are here. :)</span>
        </info-window></div></map>
</div>
<br>Enjoy &amp; Keep Us Updated,
	<br>The Mapta.gs Team.
</section>
